@keyframes grow {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1);
    }
}

.grow {

   animation-name: grow;
   animation-duration: 2s;
}


#dot {
    position: absolute;
    
    background-color:#f11414;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    visibility: hidden;

    
}
 h1 {
     display: block;
 }

.center {
    display: flex;
    justify-content: center;
}

.box {
    position: relative;
    border: 1px solid black;
    height: 800px;
    width: 800px;
    margin: auto;
    background-color: white;

}

#details {
    
    justify-content: start;
    width: 800px;
    margin: auto;

    
}

#start {
    display: inline-block;
    margin: auto;

}

#restart {
    margin-left: auto;
  
}

#pdg {
    margin-left: 30px;
}

@media (max-width: 480px) {
    .box {
      height: 300px;
      width: 300px;
    }

    #details{
       width: 300px;
    }
  }